
<!--
This file is used to define key settings for the Get-AssetHealth.ps1 script
Superdry.loc

.NOTES

May 10, 2019
Initial creation

-->
<Properties>
    <Global>
        <CSS>\\Superdry.loc\DFS\Downloads\Software\SCRIPTS\WINDOWS SERVER\Server Scan\CSS\CSS.XML</CSS>        
        
        <ADdomain>superdry.loc</ADdomain>

        <VMWARE>
            <vCenter>vc1.superdry.loc</vCenter>

            <FilteredESXi>
                <Asset>FS1V</Asset>
                <Asset>FS2V</Asset>
                <Asset>RS1</Asset>
                <Asset>RS2</Asset>
                <Asset>RS3</Asset>
                <Asset>RS4</Asset>
                <Asset>VC1</Asset>
                <Asset>VC2</Asset>                
                <Asset>AD1V</Asset>
                <Asset>AD2V</Asset>                
            </FilteredESXi>
            
        </VMWARE>

        <Email>
            <From>brave.scout@gmail.com</From>
            <To>oreynolds@gmail.com</To>
            <SMTP>AD1V.superdry.loc</SMTP>
        </Email>

        <DFSPath>\\superdry.loc\DFS\downloads</DFSPath>
        
        <SchTask>\2BrightSparks\SyncBackProx64\SUPERDRY-REQUISRV*</SchTask>

        <ScriptLog>\\Superdry.loc\DFS\downloads\Software\SCRIPTS\WINDOWS SERVER\Server Scan\Log\Asset-Scan.log</ScriptLog>
        <ReportsPath>\\superdry.loc\DFS\downloads\Software\SCRIPTS\WINDOWS SERVER\Server Scan\Reports</ReportsPath>

        <FilteredAssets>            
            <Asset>RS1</Asset>
            <Asset>RS2</Asset>
            <Asset>RS3</Asset>
            <Asset>RS4</Asset>
            <Asset>VC1</Asset>
            <Asset>VC2</Asset>
            <Asset>FILECLUSTER</Asset>
        </FilteredAssets>

        <FilteredReboot>
            <Asset>Win10-Diana</Asset>
            <Asset>DSPEC</Asset>
        </FilteredReboot>

    </Global>

</Properties>
